<div class="cart">
  <div class="cart-container">
    <div *ngIf="itemsService.pizzaItems.length == 0">Ni pic za prikaz.</div>
    <div class="cart-item" *ngFor="let pizzaItem of itemsService.pizzaItems">
      <div class="item">
        <img class="cart-img" src="{{ pizzaItem.imageUrl }}" />
        <div class="item-details">
          <span class="item-type">{{ pizzaItem.price }}</span>
          <div class="item-title">{{ pizzaItem.title }}</div>
        </div>
        <div class="item-actions">
          <button (click)="onRemoveItemClick(pizzaItem.id)">Odstrani</button>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-total" *ngIf="itemsService.pizzaItems.length > 0">
    <span>Znesek: {{ itemsService.pizzasTotal }} $</span>
  </div>
</div>
