<app-header
  *ngIf="!displayPizza"
  (cartClicked)="onCartClicked()"
  (homeClicked)="onHomeClicked()"
  (gameClicked)="onGameClicked()"
  (pizzaClicked)="onPizzaClicked()"
></app-header>
<app-pizza-header
  *ngIf="displayPizza"
  (pizzaHomeClicked)="onPizzaHomeClicked()"
  (pizzaAboutUsClicked)="onPizzaAboutUsClicked()"
  (pizzaCartClicked)="onPizzaCartClicked()"
  (backClicked)="onBackClicked()"
></app-pizza-header>
<main class="main">
  <app-home *ngIf="displayHome"></app-home>
  <app-cart *ngIf="displayCart"></app-cart>
  <app-game *ngIf="displayGame"></app-game>
  <app-pizza *ngIf="displayPizza && displayPizzaHome"></app-pizza>
  <app-about-us-pizza
    *ngIf="displayPizza && displayPizzaAboutUs"
  ></app-about-us-pizza>
  <app-pizza-cart *ngIf="displayPizza && displayPizzaCart"></app-pizza-cart>
</main>
<app-pizza-footer *ngIf="displayPizza"></app-pizza-footer>
